<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.hardware.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaitLess_P1"
        tools:targetApi="31">
        <activity
            android:name=".FotoPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".PermisoRutaActivity"
            android:exported="false" />
        <activity
            android:name=".PermisoCamaraActivity"
            android:exported="false" />
        <activity
            android:name=".ReservasCanceladas"
            android:exported="false" />
        <activity
            android:name=".DetallePunto"
            android:exported="false" />
        <activity
            android:name=".NFCActivity"
            android:exported="false" />
        <activity
            android:name=".TicketsActivity"
            android:exported="false" />
        <activity
            android:name=".MapaActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CancelarReservaActivity"
            android:exported="false" />
        <activity
            android:name=".VerReservaActivity"
            android:exported="false" />
        <activity
            android:name=".CrearReservaActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".RutaActivity"
            android:exported="false" />
        <activity
            android:name=".ReservasActivity"
            android:exported="false" />
        <activity
            android:name=".ScanqrActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>