<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.hardware.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logowaitless"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logowaitless"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaitLess_P1"
        tools:targetApi="31">
        <activity
            android:name=".FotoPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PermisoRutaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PermisoCamaraActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReservasCanceladasActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DetallePuntoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NFCActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TicketsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MapaActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.CancelarReservaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VerReservaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CrearReservaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RutaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReservasActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ScanqrActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>